* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
.myTitle{
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  letter-spacing: 2px;
  background-color: #70a0ae;
}
.title p {
  font-size: 12px;
}
.title h1 {
  font-size: 24px;
}

.container {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #70a0ae;
}
.myProjects{
  width: 380px;
  list-style: none;
  font-size: 20px;
  letter-spacing: 2px;
}
.myProjects li {
  width: 350px;
  height: 48px;
  background-color: lightgoldenrodyellow;
  margin-bottom: 10px;
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #505354;
  cursor: pointer;
  transition: all 1s ease;
}
.myProjects li:hover {
  background-color: rgb(0, 99, 165);
  color: #fff;
  margin-left: 10px;
}
.myProjects .num {
  width: 80px;
  padding: 10px 20px;
  text-align: center;
}
