.box {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 10px;
  position: relative;
}

.box button {
  width: 250px;
  height: 48px;
  padding: 10px 20px;
  margin-top: 60px;
  letter-spacing: 1px;
  background-color: #e3e3e3;
  border: 5px solid #e3e3e3;
  border-radius: 10px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
.color-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #fff;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 需扣掉元素本身寬度和高度 */
}